/Project/arxiv-metadata-oai-snapshot.json
/Project/preprocessed.pickle
/Project/forvis_01_20.pickle
/Project/data.pickle
/Project/GoogleNews-vectors-negative300.bin.gz
/Project/glove.6B.300d.txt
/Project/cc.en.300.vec.gz